.digits {
  display: flex;
  grid-row-start: 1;
  align-self: flex-end;
  z-index: 10;
  grid-row-start: 1;
  justify-content: space-evenly;
  padding-left: 20px;
}

.startResetButtons {
  z-index: 30;
  grid-row-start: 4;
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
}
