.digits {
  display: flex;
  grid-row-start: 2;
  align-self: flex-end;
  z-index: 10;
  justify-content: center;
  align-content: center;
  /* justify-content: space-evenly; */
  padding-left: 10vw;
  padding-right: 10vw;
}

.startResetButtons {
  z-index: 10;
  grid-row-start: 5;
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
  align-self: flex-start;
  padding-left: 10vw;
  padding-right: 10vw;
}
