

  .digitalBox {
    display: flex;
    align-self: center;
    justify-content: center;
  
    width: 74px;
    height: 74px;
  
    background: rgba(174, 174, 192, 0.35);
    box-shadow: -4px -4px 6px rgba(174, 174, 192, 0.2), 4px 4px 6px #FFFFFF, inset 4px 4px 6px rgba(174, 174, 192, 0.2);
  }
  
  .nr {
    align-self: center;
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif;
    font-size: 36px;
    
    color: #000000;
  }