.inputFields {
  display: flex;
  grid-row-start: 1;
  align-self: flex-end;
  z-index: 10;
  grid-row-start: 1;
  justify-content: space-evenly;
  padding-left: 20px;
}
.startResetButtons {
  z-index: 10;
  grid-row-start: 5;
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
  align-self: flex-start;
  padding: 10px;
}
