.inputFields {
  z-index: 10;
  grid-row-start: 1;
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
}

.startResetButtons {
  z-index: 10;
  grid-row-start: 3;
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
}
