.inputFields {
  display: flex;
  grid-row-start: 2;
  align-self: flex-end;
  z-index: 10;
  justify-content: center;
  padding-left: 15px;
}
.startResetButtons {
  z-index: 10;
  grid-row-start: 5;
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
  align-self: flex-start;
  padding: 10px;
}

.popUp {
  z-index: 200;
  width: 100vw;
  height: 100vh;
}
