.time {
  grid-row-start: 1;
  align-self: flex-end;
  justify-self: center;
  margin: 0;
  padding: 0;
  z-index: 2;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 56px;
}
.date {
  grid-row-start: 3;
  align-self: flex-start;
  justify-self: center;
  margin: 0;
  padding: 0;
  z-index: 2;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 56px;
}
