.alarm {
  z-index: 10;
  margin: 0;
  padding: 0;
  display: flex;
  justify-self: center;
  align-self: flex-start;
  grid-row-start: 2;

  font-size: 36px;

  background: none;
  border: none;
  outline: none;
  color: #d0d0d0;
}

.newAlarm {
  z-index: 10;
  grid-row-start: 4;
}

.saveButton {
  cursor: pointer;
}
