.alarm {
  margin: 0;
  padding: 0;
  display: flex;
  justify-self: center;
  align-self: center;
  grid-row-start: 2;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 56px;

  background: none;
  border: none;
  color: #d0d0d0;
}
