.newAlarm {
  color: white;
  grid-row-start: 4;
  display: flex;
  align-self: center;
  align-content: center;
  justify-content: space-between;
  padding: 0 10vw 0 10vw;

  font-size: 36px;
  color: #d0d0d0;
}

.buttonSelect {
  align-self: center;
  cursor: pointer;
}

.buttonRemove {
  cursor: pointer;
}
