* {
  margin: 0;

  font-family: "roboto", sans-serif;
}

.App {
  background: linear-gradient(180deg, #7b7b7d 0%, #151515 100%);
  color: #d0d0d0;
  display: grid;
  grid-template-rows: 20vh 60vh 20vh;
  height: 100vh;
  overflow: hidden;
}
