* {
  margin: 0;
  font-family: "roboto", sans-serif;
}

body {
  left: 0;
  -webkit-overflow-scrolling: touch;
  position: fixed;
  top: 0;
  width: 100%;
}

.App {
  background: linear-gradient(180deg, #7b7b7d 0%, #151515 100%);
  color: #d0d0d0;
  display: grid;
  grid-template-rows: 20vh 60vh 20vh;
  height: 100%;
}
