* {
  margin: 0;
  overflow: hidden;
}

.App {
  background: #f0f0f3;
  display: grid;
  grid-template-rows: 20vh 50vh repeat(2, 15vh);
}

/* .ellipse {
  display: flex;
  grid-row-start: 2;
  align-self: center;
  justify-self: center;
} */
/* 
.backgroundImg {
  z-index: 300;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

.navigationButtons {
  grid-row-start: 4;
  display: flex;
  justify-content: space-evenly;
}

.wrapper {
  display: grid;
  grid-template-rows: 20vh 50vh repeat(2, 15vh);
  grid-template-columns: 100vw;
}

.digits {
  z-index: 10;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.clockNav {
  position: relative;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;

  width: 2vh;
  height: 2vh;
  border-radius: 50%;

  background: #f0f0f3;
  border: 3px solid #ffffff;
  box-shadow: 0px 1px 5px #aeaec0;
}

.secondHand {
  position: absolute;
  margin: auto;
  z-index: 3;

  top: -28%;
  left: 0;
  bottom: 0;
  right: 0;
  transform-origin: bottom;
  transform: rotate(180deg);

  height: 12%;
  width: 2px;

  border: 1px solid #aeaec0;
  border-radius: 4px;

  box-shadow: 0px 1px 5px #aeaec0;
}

.minuteHand {
  position: absolute;
  z-index: 2;
  margin: auto;
  transform-origin: bottom;
  transform: rotate(90deg);

  top: -28%;
  left: 0;
  bottom: 0;
  right: 0;

  height: 12%;
  width: 6px;

  background-color: white;

  border: 3px solid #ffffff;
  border-radius: 8px;

  box-shadow: 0px 1px 5px #aeaec0;
}

.hourHand {
  position: absolute;
  z-index: 1;
  margin: auto;
  transform-origin: bottom;
  transform: rotate(90deg);

  top: -25%;
  left: 0;
  bottom: 0;
  right: 0;

  height: 10%;
  width: 6px;

  background-color: white;

  border: 3px solid #ffffff;
  border-radius: 8px;

  box-shadow: 0px 1px 5px #aeaec0;
}

.digits {
  z-index: 10;
  grid-row-start: 1;
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
}

.stopwatch {
  z-index: 400;
}
